* {
  font-family: 'Raleway', sans-serif;
}

.about {
  padding: 75px 0;
}

.about .lead {
  margin-top: 50px;
  opacity: 0.5;
  margin-bottom: 30px;
}

.about .row {
  margin-right: 0;
  margin-left: 0;
}

.about .row .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

.about .row .col-sm-12 .img img {
  width: 100%;
  height: 800px;
}

.Vision .content {
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
  width: 90%;
  margin: 0 5%;
  border: 1px solid;
  border-radius: 7.55px;
  -webkit-border-radius: 7.55px;
  -moz-border-radius: 7.55px;
  -ms-border-radius: 7.55px;
  -o-border-radius: 7.55px;
  position: relative;
  margin-bottom: 50px;
}

.Vision .content .head {
  border: 1px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: absolute;
  top: -25px;
  left: 50%;
  background: #fff;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 60%;
}

.Vision .content .head h3 {
  font-weight: bold;
  padding: 5px 20px;
  margin-bottom: 0;
}

.Vision .content .con {
  padding: 75px 30px 25px;
}

.Vision .content .con P {
  font-size: 20PX;
}
.events{
  background-color: #eee;
}
.events .PREVIOUS {
  background-color: #000;
  padding: 40px 0;
}

.events .PREVIOUS h3 {
  color: yellow;
  font-size: 40px;
}

.events .PREVIOUS .lead {
  font-size: 25px;
}

.events .PREVIOUS p {
  color: #fff;
  font-size: 20px;
}

.events .last .card {
  border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  -o-border-radius: 7.5px;
  overflow: hidden;
  margin-top: 50px;
}

.events .last .card .card-body {
  background-color: #000;
  color: #fff;
}

.events .last .card .card-body hr {
  background-color: #fff;
}

.events .last .card .card-body .card-text {
  position: relative;
}

.events .last .card .card-body .card-text .text-muted {
  color: #fff !important;
  font-size: 20px;
  position: absolute;
  TOP: 0px;
  LEFT: 45px;
}

.events .last .btn {
  color: #fff;
  border: 1px solid #000;
  padding: 5px 25px;
  background-color: #000;
  width: 180px;
  font-size: 24px;
  margin-top: 25px;
}

.contact-about {
  margin-top: 50px;
  padding: 50px 0;
  background-color: #eee;
}

.contact-about h3 {
  width: 100%;
}

.contact-about p {
  width: 70%;
  margin: 0 auto 25px;
  color: #878787;
}

.contact-about .dis {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-about .addres {
  display: block;
  margin-bottom: 40px;
}

.contact-about .addres p {
  position: relative;
  width: 55%;
  padding: 0px 0 0px 45px;
  font-weight: 700;
}

.contact-about .addres p::before {
  position: absolute;
  content: "\f015";
  font-family: "FontAwesome";
  opacity: 0.5;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ddd;
  line-height: 35px;
  text-align: center;
  margin: 0 7px 0 0px;
  top: -4px;
  left: 0px;
}

.contact-about .phone p::before {
  content: "\f095";
}

.contact-about .mobile p::before {
  content: "\f10b ";
}

.contact-about .email p::before {
  content: "\f0e0 ";
}

h5 {
  margin: 60px 0 25px 0;
}

form .name {
  position: relative;
}

form .name i {
  color: #ddd;
  position: absolute;
  top: 10px;
  left: 15px;
}

form .name input {
  padding: 0px 0 0 45px;
}

form .email {
  position: relative;
}

form .email i {
  color: #ddd;
  position: absolute;
  top: 10px;
  left: 15px;
}

form .email input {
  padding: 0px 0 0 45px;
}

form .subject {
  position: relative;
}

form .subject i {
  color: #ddd;
  position: absolute;
  top: 10px;
  left: 20px;
}

form .subject input {
  padding: 0px 0 0 45px;
}

form .messege {
  position: relative;
}

form .messege i {
  color: #ddd;
  position: absolute;
  top: 10px;
  left: 20px;
}

form .messege textarea {
  padding: 5px 0 0 45px;
  height: 120px;
}


@media (min-width: 320px) {
  .about .row .col-sm-12 .img img {
    height: auto;
  }
}

@media (min-width: 992px) {
  .about .row .col-sm-12 .img img {
    height: 800px;
  }
}

@media (min-width: 320px) {
  .events .PREVIOUS h3 {
    font-size: 30px;
  }
  .events .PREVIOUS .lead {
    font-size: 20px;
  }
  .events .PREVIOUS p {
    font-size: initial;
  }
}

@media (min-width: 992px) {
  .events .PREVIOUS h3 {
    font-size: 40px;
  }
  .events .PREVIOUS .lead {
    font-size: 25px;
  }
  .events .PREVIOUS p {
    font-size: 20px;
  }
}
/*# sourceMappingURL=layout.css.map */