.Vision{
    .content{
        width: 90%;
        margin: 0 5%;
        border: 1px solid;
        border-radius: 7.55px;
        -webkit-border-radius: 7.55px;
        -moz-border-radius: 7.55px;
        -ms-border-radius: 7.55px;
        -o-border-radius: 7.55px;
        position: relative;
        margin-bottom: 50px;
        .head
{
            border: 1px solid;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            position: absolute;
            top: -25px;
            left: 50%;
            background: #fff;
            transform: translate(-50%, 0);
            width: 60%;
            h3{
                font-weight: bold;
                padding: 5px 20px;
                margin-bottom: 0;
            }
        }
        .con{
            padding:75px 30px 25px;
            P{
                font-size: 20PX;
            }
        }
}
}