.Services{
    padding: 75px 0 0 0;
    position: relative;
    background-color: #eee;
    h3{
        margin-bottom: 50px;
    }
    .display-md{
        hr{
            position: relative;
            top: 96px;
            height: 1px;
            background: #000;
            opacity: 0.5;
        }
         .col-md-3{
             .content1{
                position: relative;
                &::after{
                   content: "";
                   position: absolute;
                   width: 7.5px;
                   height: 7.5px;
                   border-radius: 50%;
                   -webkit-border-radius: 50%;
                   -moz-border-radius: 50%;
                   -ms-border-radius: 50%;
                   -o-border-radius: 50%;
                   background-color: #000;
                   top: 75px;
                   opacity: 0.5;
                   z-index: 2;
                   left: 50%;
                   margin-left: -4.5px;
                   }
                   &::before{
                       content: "";
                       position: absolute;
                       width: 18px;
                       height: 16px;
                       top: 71px;
                       border: 1px solid;
                       opacity: 0.5;
                       border-radius: 3px;
                       z-index: 2;
                       left: 50%;
                       margin-left: -9px;
                   }
                   i{
                       padding-bottom: 50px;
                   }
                   p:not(.lead){
                       opacity: 0.5;
                   }
            }
         }
    }
    .display-sm{
        .line{
            width: 1px;
            height: 875px;
            background-color: #000;
            opacity: 0.5;
        }
        .col-sm-12{
            position: relative;
            &::after{
                position: absolute;
                content: "";
                border-width: 25px;
                border-style: solid;
                border-color: transparent transparent transparent #fff;
                top: 54px;
                right: -12px;
            }
            .content1{
                background: #fff;
                border-radius: 8px;
                padding: 25px 5px;
                position: relative;
                width: 98%;
                margin-bottom: 15px;
                &::before{
                    content: "";
                    position: absolute;
                    width: 18px;
                    height: 16px;
                    top: 71px;
                    border: 1px solid;
                    opacity: 0.5;
                    border-radius: 3px;
                    z-index: 2;
                    right: -32px;
                    background-color: #Fff;
                }
                &::after{
                   content: "";
                   position: absolute;
                   width: 7.5px;
                   height: 7.5px;
                   border-radius: 50%;
                   -webkit-border-radius: 50%;
                   -moz-border-radius: 50%;
                   -ms-border-radius: 50%;
                   -o-border-radius: 50%;
                   background-color: #000;
                   top: 75px;
                   opacity: 0.5;
                   z-index: 2;
                  right: -27px;
                   }
                i{
                    margin-bottom: 15px;
                }
                .lead{
                    margin-bottom: 5px;
                    font-weight: 400;
                }
                p:not(.lead){
                    opacity: 0.5;
                }
            }
        }
    }
    .more{
        background: url("../imgs/services.jpg") no-repeat center center;
        background-size: cover;
        padding: 100px 0;
        margin-top: 25px;
        position: relative;
        .overlay{
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           background-color: rgba(0, 0, 0, 0.65);
           display: flex;
           align-items: center;
           justify-content: center;
           .btn{
               color:#fff;
               border: 1px solid #fff;
               padding: 5px 25px;
           }
        }
    }
}