
 .testmonial{
    padding:200px 0;
    background: url("../imgs/say.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #00000085;
        h3{
            color:#fff;
            margin: 30px 0;
        }
        p{
            color: #fff;
        }
        .swiper-pagination-bullet{
            background-color: #fff;
        }
        .content{
            padding-top: 30px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .info{
                margin: 0 5px;
                padding: 20px;
                width: 58%;
                height: 147px;
                background-color: #fff;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    border-width: 20px;
                    border-style: solid;
                    border-color: #fff transparent transparent transparent;
                    top: 145px;
                    left: 50%;
                   margin-left: -20px;
                }
                .img{
                    color: #fff;
                    width: 85px;
                    height: 85px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    line-height: 85px;
                    position: absolute;;
                    background-color: #eee;
                    bottom: 108px;
                    left: 50%;
                    margin-left: -42.5px;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
                .word{
                    padding-top: 35px;
                }
            }
        }
        .swiper-slide{
            height: 290px;
           
        }
    }
}
 