.services{
    text-align: left;
    padding: 50px 0;
    h1{
        font-size: 27.5px;
        font-weight: bold;
    }
    .line{
        display: flex;
        align-items: center;
        justify-content: left;
        hr{
            width: 165px;
            height: 2px;
            background: #000;
            margin: 0 0 50px 0;
        }
    }
    .card{
        width: 100% !important;
        margin-bottom: 20px;
        .card-body{
            .card-title{
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}